:root{
    --bg-color: #3E4551;
}

.form-box{
    width: 370px;
    height: 455px;
    position: relative;
    margin: 6% auto;
    background: var(--bg-color);
    padding: 5px; 
    border-radius: 10px;
}

.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px --bg-color;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}

#elegir{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: ;
}