
.container {
    max-width: 1200px;
    margin: 0 auto;   
}

.header{
    background-image: url(img/bg.svg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 60vh;
    padding: 40px 0 0 0;
}

.header-content{
    display: flex;
}
.header-txt{
    width: 50%;
}

.header-txt h1{
    font-size: 70px;
    line-height: 85px;
    color: #eb7141;
    margin-bottom: 20px;
}
.header-txt span{
    font-size: 90px;
    color: ffb40b;
}
